/* Цвет основного текста: #757575 */
/* Цвет титулов: #212121 */
/* Акцент: #2196F3 */
/* Цвет адрессных ссылок: #FFFFFF99 */
/* Основной цвет фона: #FFFFFF */
/* Цвет фона вторичный: #F5F4FA */
/* Минорный цвет фона: #EEEEEE */
/* Цвет фона Hero: #2f303a */
/* Белый: rgba(255, 255, 255, 1) */
/* Цвет фона Footer #2F303A */
/* Цвет фона Header #fff */
/* Цвет рамки хедера #ECECEC */
/* Цвет иконок #AFB1B8 */
/* Dropbox bgc rgba(0, 0, 0, 0.1) */
/* Modal bgc #FFFFFF */

:root {
  --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --addres-links-color: #ffffff99;
  --basic-backgroud-color: #ffffff;
  --background-color: #f5f4fa;
  --minor-bgc: #eeeeee;
  --hero-bgc: #2f303a;
  --footer-bgc: #2f303a;
  --white-color: #fff;
  --black-color: #212121;
  --header-bgc: #fff;
  --header-border-color: #ececec;
  --portfolio-card-box-nmbr-row: 3;
  --item-gap: 30px;
  --item-border-size: 1px;
  --card-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  --team-list-item-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --team-item-n-row: 4;
  --icon-color: #afb1b8;
  --dropbox-bgc: rgba(0, 0, 0, 0.1);
  --modal-bgc: #ffffff;
}
body {
  font-family: 'Roboto', 'Tahoma', sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--basic-backgroud-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
h1 {
  margin-bottom: 30px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.title {
  padding: 0;
  margin: 0;
}
.section-title {
  padding: 0;
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------Header------------ */

.brd {
  border-bottom: 1px solid var(--header-border-color);
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--header-bgc);
  z-index: 1;
}

.studio-logo {
  color: var(--black-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.web-effect {
  color: var(--accent-color);
}
.nav {
  display: flex;
}
.nav .list-nav {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 93px;
  padding: 0;
}
.studio-nav {
  position: relative;
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.studio-nav.current::after {
  content: '';
  display: block;

  position: absolute;
  left: 0;
  bottom: -33px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  transform: scaleX(0);

  animation-name: barScale;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}
@keyframes barScale {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1.2);
  }
  100% {
    transform: scaleX(1);
  }
}
.studio-nav:hover,
.studio-nav:focus {
  color: var(--accent-color);
}
.studio-nav.current {
  color: var(--accent-color);
}
.nav .item-nav:not(:last-child) {
  margin-right: 50px;
}
.intro.container {
  display: flex;
  align-items: center;
}
.list.contacts {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin-left: auto;
}
.list.contacts > .item:not(:last-child) {
  margin-right: 30px;
}
.list.contacts .link {
  display: flex;
  padding: 0;
  align-items: center;
}
.contacts.pseudo {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item.contacts .link-icon {
  margin-right: 10px;
}
.contacts.pseudo:hover,
.contacts.pseudo:focus {
  color: var(--accent-color);
}

/* ------------Principal section - Hero------------ */

.principal-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}
.order-button {
  background: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  min-width: 200px;
  align-items: center;
  text-align: center;
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}
.principal-section {
  padding: 200px 0px;
}
.overlay {
  background-color: var(--hero-bgc);
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/banner/Img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.principal-section .container {
  text-align: center;
}

/* ------------Features - Наши преимущества------------ */

.section.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
}
.section-title.visually-hidden,
.portfolio-title.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-p-style {
  line-height: 1.71;
  padding: 0;
  margin: 0;
}
.features.list {
  display: flex;
  flex-wrap: wrap;
}
.features.list > .item {
  flex-basis: calc((100% - 90px) / 4);
  height: 251px;
}
.features.list > .item:not(:last-child) {
  margin-right: var(--item-gap);
}
.container-features {
  display: inline-block;
  padding: 25px 100px;
  margin-bottom: 30px;
  background-color: var(--background-color);
  border-radius: 4px;
}
.features .icon-feat {
  width: 70px;
  height: 70px;
}

/* ------------ Tools ------------ */

.profile {
  padding-bottom: 94px;
}
.profile .section-title {
  margin-bottom: 50px;
  text-align: center;
}
.tools .list {
  display: flex;
  flex-wrap: wrap;
}
.tools .list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 0;
}
.tools .list .item:nth-child(3n) {
  margin-right: 0;
}
.features.list .title {
  margin-bottom: 10px;
}
.prfl-thumb {
  position: relative;
}
.prfl-dscrpt {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* ------------ Our Team ------------ */

.section.team {
  background-color: var(--background-color);
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text-color);
}
.team.list > .item {
  background: var(--basic-backgroud-color);
}
.team-unit {
  font-size: 16px;
  line-height: 1.18;
  padding: 0;
  margin: 0px 0px 16px 0px;
}
.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.team .section-title {
  text-align: center;
}
.section.team .section-title {
  margin-bottom: 50px;
}
.team .card-label {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team.list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.team.list > .item {
  box-shadow: var(--team-list-item-shadow);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
.team.list > .item:not(:last-child) {
  margin-right: var(--item-gap);
}
.team .title {
  margin-bottom: 10px;
}
.team .card-label {
  display: grid;
  justify-content: center;
}
.team-unit {
  margin-bottom: 16px;
}
.list.social-netwrk {
  display: flex;
  padding: 0;
  width: fit-content;
  height: 44px;
}
.social-netwrk .link-icon {
  width: 20px;
  height: 20px;
}
.item.social-netwrk:not(:last-of-type) {
  margin-right: 10px;
}
.team .link.social-netwrk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--basic-backgroud-color);
  color: var(--icon-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team .link.social-netwrk:hover,
.team .link.social-netwrk:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}
.item.social-netwrk:not(:last-of-type) {
  margin-right: 10px;
}

/* ------------ Our Clients ------------ */

.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.clients > .container {
  text-align: center;
}
.clients .section-title {
  margin-bottom: 50px;
}
.clients.list {
  display: flex;
  justify-content: center;
}
.clients.list > .item {
  width: 100%;
}
.clients.list > .item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  cursor: pointer;
  color: var(--icon-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}
.clients.link-icon {
  width: 106px;
  height: 60px;
}

/* ------------ Our Clients ------------ */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bgc);
}
.common.container {
  display: flex;
  align-items: baseline;
}
.footer .studio-contacts {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--addres-links-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .studio-logo {
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
}
.footer-address .list {
  display: block;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .studio-address:hover,
.footer .studio-contacts:hover,
.footer .studio-address:focus,
.footer .studio-contacts:focus {
  color: var(--accent-color);
}
.studio-address {
  font-weight: 400;
  line-height: 1.71;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.common.container .address {
  margin-right: 70px;
}
.follow-us {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--basic-backgroud-color);
}
.follow .list.social-netwrk {
  display: flex;
  padding: 0;
  width: fit-content;
  height: 44px;
  margin-top: 20px;
}
.follow .link.social-netwrk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: #ffffff1a;
  fill: var(--white-color);
  transition: background-color 250ms var(--timing-func);
}
.link.social-netwrk:hover,
.link.social-netwrk:focus {
  background-color: var(--accent-color);
}
.sbscrb-container {
  display: block;
  /* min-width: 570px; */
  margin-right: 0;
  margin-left: auto;
}
.sbscrb-container p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}
.form-ftr {
  display: flex;
  width: 100%;
}

.form-label.sbscrb {
  display: block;
  width: 358px;
  height: 50px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  background-color: var(--footer-bgc);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.sbscrb-input {
  display: block;
  outline: 0;
  outline-offset: 0;
  border: none;
  padding-left: 16px;
  background-color: inherit;
  color: var(--white-color);
}
.order-button.sbscrb {
  margin-left: 12px;
  padding: 10px 28px;
  display: flex;
  align-items: center;
}
.sbscrb-icon {
  display: inline-block;
  margin-right: 10px;
  padding: 0;
}
.sbscrb-svg {
  width: 24px;
  height: 24px;
}

/* ------------ Portfolio ------------ */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.projects .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects .project-unit {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
.projects-filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:last-of-type {
  margin-right: 0px;
}
.projects-filter.list > .item:nth-child(5) {
  margin-right: 0;
}
.filter-item {
  margin-right: 8px;
}
.filter-button {
  background-color: rgba(245, 244, 250, 1);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  padding: 6px 22px;
  color: var(--title-text-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--white-color);
}
.projects.list {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--item-gap));
  margin-bottom: calc(-1 * var(--item-gap));
}
.projects.list > .item {
  flex-basis: calc(
    (100% / var(--portfolio-card-box-nmbr-row) - (var(--portfolio-card-box-nmbr-row) - 1))
  );
  margin-right: var(--item-gap);
  margin-bottom: var(--item-gap);
}
.projects.list .item .title {
  margin-bottom: 4px;
}
.project-card {
  display: block;
  transition: box-shadow 250ms var(--timing-func);
}
.project-card:hover,
.project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.prj-thumb {
  position: relative;
  overflow: hidden;
}
.prj-dscrpt {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms var(--timing-func);
}
.project-card:hover .prj-dscrpt,
.project-card:focus .prj-dscrpt {
  transform: translateY(0);
}
.prj-dscrpt > p {
  font-size: 18px;
  font-weight: 400;
  line-height: calc(28 / 18);
  color: var(--white-color);
  opacity: 0;
  transition: opacity 250ms var(--timing-func) 250ms;
}
.project-card:hover .prj-dscrpt > p,
.project-card:focus .prj-dscrpt > p {
  opacity: 1;
}
.card-label {
  padding: 20px 24px;
  border: 1px solid var(--minor-bgc);
  border-top: none;
}

/* ------------ Backdrop Modal ------------ */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: var(--dropbox-bgc);
  opacity: 1;
  transition: opacity 250ms var(--timing-func);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;
  padding: 40px;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-func), opacity 250ms var(--timing-func);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--modal-bgc);
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.2);
}
.mdl-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--basic-backgroud-color);
  color: var(--black-color);
  fill: currentColor;
  transition: fill 250ms var(--timing-func);
}
.mdl-close:hover,
.mdl-close:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

/* ------------ Form - Modal ------------ */

.form-mdl {
  height: 100%;
  padding: 0;
  text-align: center;
}
.form-mdl b {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.form-field {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
}
.form-label {
  margin-bottom: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}
.form-input {
  height: 40px;
  padding-left: 42px;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-func);
}
.form-field:focus-within .form-input,
.form-field:focus-within .textarea,
.form-field:hover .form-input,
.form-field:hover .textarea {
  outline: 0;
  outline-offset: 0;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}
.textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing-func);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  color: var(--black-color);
  fill: currentColor;
  transition: fill 250ms var(--timing-func);
}
.form-svg {
  width: 18px;
  height: 18px;
}
.form-field:focus-within > .form-icon,
.form-field:hover > .form-icon {
  fill: var(--accent-color);
}
.chckbx {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 0;
  width: 423px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.checkbox {
  position: absolute;
  appearance: none;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.arg-link {
  outline: 0;
  outline-offset: 0;
  text-decoration-line: underline;
  color: var(--accent-color);
  margin-left: 4px;
}
.checkbox-agr {
  opacity: 0.6;
  transition: opacity 250ms var(--timing-func);
}
.checkbox:focus-within + .checkbox-agr,
.checkbox:hover + .checkbox-agr {
  opacity: 1;
  cursor: pointer;
}
.checkbox-icon {
  position: absolute;
  top: 4px;
  left: 0;
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  transition: background-color 250ms var(--timing-func), background-image 250ms var(--timing-func);
}
.checkbox:focus-within ~ .checkbox-icon,
.checkbox:hover ~ .checkbox-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z' fill='%232196F3'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  cursor: pointer;
}
.checkbox:checked ~ .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m2.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z' fill='%23fff' stroke='%23fff' stroke-width='.2'/%3E%3C/svg%3E");
  background-position: center;
  background-size: contain;
  border-radius: 2px;
}
.order-button.agr {
  opacity: 0.6;
  transition: opacity 250ms var(--timing-func);
}
.order-button.agr:focus,
.order-button.agr:hover {
  outline: 0;
  outline-offset: 0;
  opacity: 1;
  cursor: pointer;
}
