$color: green;
$main-width: 100px;
$secondaryColor: blue;

body {
  background-color: $color;
  width: $main-width;
  font-family: sans-serif;
  font-weight: 400;
}

ul {
  display: inline;
  list-style: none;
  font-family: 'Courier New', Courier, monospace;
  background-color: $secondaryColor;
  font-size: 18px;
  background-image: url();
}

.section {
  &__title {
    color: #fff;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
  }
}
