@import './utils/variables';
@import './utils/helpers';
@import './utils/functions';
@import './utils/mixins';
@import './utils/icons';
@import './utils/visually_hidden';
@import './components/header';

body {
  background-color: $colorBgPrime;
  font-size: $fontSz;
  color: bisque;
}

p {
  @include centeredFlex();
  color: red;
}

.button {
  @include centeredFlex(inline-flex);
}

%notification {
  background-color: aliceblue;
  font-size: 16px;
  padding: 20px;
}

.notification-error {
  @extend %notification;
  background-color: green;
}
.notification-alert {
  @extend %notification;
  background-color: red;
}
