.header {
  padding-top: 24px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: getColor('bg-prime');
  border-bottom: 1px solid getColor('border-header');
  z-index: 1;
}
.header__container {
  display: flex;
  align-items: center;
}
.studio-contacts {
}
.header__studio-contacts {
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
  margin-left: auto;
}
// .studio-contacts__item:not(:last-child) {
//   margin-right: 30px;
// }
// .studio-contacts__item {
//   &--list {
//     list-style: none;
//   }
// }
// .studio-contacts__link {
//   display: flex;
//   padding: 0;
//   align-items: center;
// }
.studio-contacts {
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    &--list {
      list-style: none;
    }
  }
  &__link {
    display: flex;
    padding: 0;
    align-items: center;
  }
}
.studio-contacts__icon {
}
