.header {
  padding-top: 24px;
  padding-bottom: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: getColor('bg-prime');
  border-bottom: 1px solid getColor('border-header');
  z-index: 1;
}
.header__container {
}
.studio-contacts {
}
.header__studio-contacts {
}
.studio-contacts__item {
}
.studio-contacts__link {
}
.studio-contacts__icon {
}
