.section {
}
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  &__title {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: getColor('title');
    @extend %visually-hidden;
  }
}

.projects-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  &__item {
    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  &__button {
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);

    background-color: getColor('bg-minor');
    color: getColor('title');

    cursor: pointer;
    transition: background-color 250ms $timing-func, box-shadow 250ms $timing-func,
      color 250ms $timing-func;
    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: getColor('accent');
      color: getColor('bg-prime');
    }
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * #{$item-gap});
  margin-bottom: calc(-1 * #{$item-gap});
  &__item {
    width: 370px;
    // flex-basis: calc(
    //   (calc (100% / #{$portfolio-card-box-nmbr-row}) - #{$portfolio-card-box-nmbr-row} - 1)
    // );
    margin-right: $item-gap;
    margin-bottom: $item-gap;
  }
  &__title {
    margin-bottom: 4px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;

    color: getColor('title');
  }
  &__division {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;

    color: getColor('primary-text');
  }
}

.container {
}
.portfolio__container {
}
.title {
}
.section__title {
}
.section__title--visually-hidden {
}
.projects-filter {
}
.projects-filter__item {
}
.button {
}
.projects-filter__button {
}
.projects {
}
.projects__item {
}
.projects__link {
}
.projects__thumb {
}
.projects__dscrpt {
}
.projects__text {
}
.projects__label {
}
.projects__title {
}
.projects__division {
}
.pprojects__thumb {
}
