@mixin centeredFlex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}
@mixin generateIcons($iconList) {
  @each $iconName in $iconList {
    &--#{$iconName} {
      background-image: url('../../images/svg/icons/#{$iconName}.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}
